* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    padding-bottom: 30px;
}

.main-container {
    margin-top: 20px;
}

.project-cards-row {
    margin-top: 30px;
}

.project-card-container {
    padding: 15px;
}

.project-card {
    background: white;
    height: 300px;
    width: 350px;
    text-align: center;
}

.active-project-card-image {
    cursor: pointer;
}

.project-card-image {
    height: inherit;
}

@media screen and (max-width: 1024px) {
    .project-card {
        height: 250px;
        width: 300px;
    }  
}

@media screen and (max-width: 768px) {
    .project-cards-row {
        margin-top: 0;
    }
}

.footer-row {
    width: 100%;
    background: white;
    height: 30px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.footer-text {
    width: 100%;
    padding-top: 3px;
}