.page-title {
    height: 50px;
    width: 100%;
    text-align: center;
    color: white;
}

a {
    color: inherit;
}

a:hover {
    color: rgb(133, 18, 18);
}

.laboratories-container {
    margin-top: 20px;
}

.expand-caret {
    margin-right: 5px;
    cursor: pointer;
}

.laboratory-number {
    margin-left: 20px;
}

.assignment-number {
    margin-left: 40px;
}